.navigation_wait {
  padding: 0 !important;
  display: flex !important;
  list-style-type: none !important;
  user-select: none !important;
  margin-top: 10px !important;
  justify-content: flex-end !important;
}

.navigation_wait li {
  height: 30px !important;
  border: 1px solid #ddd !important;
  box-sizing: border-box !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 6px !important;
  justify-content: center !important;
  padding: 0 10px !important;
}

.navigation_wait li.selected {
  color: #fff !important;
  background-color: #294666 !important;
}

.navigation_wait li+li {
  margin-left: 10px !important;
}